@import "/src/pages/common/help.scss";
@import'./footer1980.scss';
@media screen and (max-width: 750px) {
  .footer {
    .main-bg {
      margin-top: -8px;
    }

    .main-logo {
      height: 97px;
      width: 165px;
      margin-bottom: 20px;
      margin-top: 8px;
    }
    .main-logo,
    .icon-lists {
      margin-left: auto;
      margin-right: auto;
    }
    .icon-lists {
      align-items: center;
      justify-content: center;
      .icon-first {
        margin-right: 40px;
      }
    }
    .page-footer {
      margin-top: 15px;
      text-align: center;
      font-size: 8px;
      scale: 0.8;
    }
  }
}
