@import '/src/pages/common/help.scss';
.header-right .tag-lists {
  color: #fff;
}
@media screen and (min-width: 760px) {
  .header-right .tag-lists {
    margin-right: px2(50);
    display: flex;
    li:first-child {
      color: $green;
    }
    li {
      color: #fff;
      font-size: px2(27);
      margin-right: px2(30);
    }
  }
}
@media screen and (max-width: 750px) {
  .header-right .app-tag-lists {
    position: absolute;
    opacity: 1;
    // z-index: 2;
    width: 100%;
    font-size: px(24);
    left: px(0);
    top: px(49);
    text-align: center;
    .icon-wrap {
      margin-top: px(30);
      .icon-img {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: px(20);
      }
    }

    .tag-lists {
      margin-top: px(40);
      li {
        color: #b0d94d;
      }
      li:first-child {
        color: #fff;
      }
    }
  }
}
