@import '/src/pages/common/help.scss';
.home-container {
  width: 100%;
  overflow: hidden;
  header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 5;
    background: linear-gradient(
      180deg,
      rgba(186, 80, 84, 0.48) 0%,
      rgba(163, 76, 80, 0.85) 38%,
      #994b4e 100%
    );
    opacity: 1;
    .header-left {
      display: flex;
      color: #ffffff;
      align-items: center;
    }
  }
  main {
    position: relative;
  }
  .main-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
  }
  @media screen and (min-width: 760px) {
    .big-main-bg {
      width: 100%;
    }
    .main-bg,
    .pc-hidden {
      display: none;
    }
    .main-wrap {
      z-index: 2;
    }
  }
  @media screen and (max-width: 750px) {
    .big-main-bg {
      display: none;
    }
    .main-bg {
      width: 100%;
    }
    .app-hidden {
      display: none;
    }
  }
}
