@import "/src/pages/common/help.scss";
@media screen and (max-width: 750px) {
  .main-one {
    .title-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .main-logo {
        margin-top: 106px;
        margin-bottom: 14px;
        width: 70px;
        height: 75px;
      }
      .main-title {
        font-family: Videopac-Regular, Videopac;
        color: #ffffff;
        font-size: 24px;
        line-height: 29px;
        height: 58px;
        letter-spacing: 0px;
      }
      .main-sub-title {
        margin-top: 9px;
        color: #ffffff;
        font-size: 14px;
      }
      .main-th-title-wrap {
        margin-top: 13px;
        display: flex;
        width: 100%;
        padding-left: 27px;
        padding-right: 24px;
        justify-content: center;
        .main-th-title {
          width: 273px;
          line-height: 15px;
          color: #b0d94d;
          font-size: 12px;
          margin-right: 24px;
          text-align: center;
        }
        & > img {
          width: 25px;
          height: 25px;
          align-self: center;
        }
      }
    }
    .time-wrap {
      list-style: none;
      margin-top: 22px;
      display: flex;
      flex-direction: column;
      padding-left: 16px;
      padding-right: 16px;
      & > li {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        padding: 9px;
        width: 100%;
        height: 100px;
        background: rgba(1, 27, 54, 0.3);
        border-radius: 0px 0px 0px 0px;
        opacity: 1;
        margin-bottom: 6px;
        .title {
          height: 24px;
          line-height: 24px;
          font-size: 18px;
        }
        .coin {
          margin-top: 4px;
          height: 16px;
          font-size: 12px;
          line-height: 16px;
          margin-bottom: 8px;
        }
        .time-item {
          display: flex;
          .left {
            margin-right: 20px;
          }
          .left,
          .right {
            display: flex;

            .left-li {
              width: 45px;
              height: 30px;
              line-height: 30px;
              background: rgba(1, 27, 54, 0.8);
              font-size: 12px;
              text-align: center;
              margin-left: 4px;
              &:first-child {
                margin-left: 0;
              }
            }
          }
          .left .left-li {
            border: 1px solid #98cb9a;
          }
          .right .left-li {
            border: 1px solid #e59677;
            margin-right: 4px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
    .board-wrap {
      width: 100%;
      padding-left: 16px;
      padding-right: 16px;

      .board {
        width: 100%;
        background-color: #011b36;
        color: #ffffff;
        padding-top: 13px;
        .count-wrap {
          margin-right: 95px;
          align-items: center;
          .reduce,
          .add {
            font-size: 20px;
            line-height: 18px;
            width: 18px;
            height: 18px;
            text-align: center;
          }
          .num {
            font-size: 22px;
            color: $green;
            width: 66px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            margin-right: 13px;
            margin-left: 15px;
            background-color: #1e253b;
          }
        }
        .reg {
          font-size: 20px;
          align-self: center;
        }
        .top {
          align-items: center;
          border-bottom: 1px solid #2c3f45;

          .total {
            margin-top: 13px;
            font-size: 20px;
            .green-num {
              color: $green;
            }
          }
        }
        .bottom {
          font-size: 12px;
          margin-top: 9px;
          margin-bottom: 10px;
          .green-t {
            color: $green;
          }
        }
      }
    }
    .c-w-btn {
      margin: 17px auto;
    }
    .end-text-desc {
      width: 100%;
      color: #fff;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 18px;
      height: 16px;
      font-size: 12px;
      line-height: 16px;

      .green-t {
        color: $green;
      }
    }
  }
}
