@import '/src/pages/common/help.scss';
@import './mainThree1980.scss';
@media screen and (max-width: 750px) {
  .main-three {
    .main-bg {
      margin-top: px(-119);
    }
    .main-wrap {
      padding-top: 173px;
    }
    .title {
      font-size: 24px;
      text-align: center;
    }
    .ava-lists-wrap {
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
    }
    .ava-lists {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: px(23);
      width: 100%;
      margin-top: px(65);
      .ava-item {
        width: px(100);
        height: px(100);
      }
    }
    .r-l-wrap {
      position: relative;
      justify-content: space-between;
      top: px(-80);
      width: 100%;
      img {
        width: px(240);
        height: px(240);
      }
      .left {
        position: absolute;
        left: px(-84);
      }
      .right {
        position: absolute;
        right: px(-84);
      }
    }
  }
}
