@import "/src/pages/common/help.scss";
@import'./mainFive1980.scss';
@media screen and (max-width: 750px) {
  .main-five {
    .main-bg {
      margin-top: px(-73);
    }
    .main-wrap{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .title {
      font-size: 24px;
      margin-top: 139px;
      margin-bottom: 34px;
      text-align: center;
    }
    .desc {
      font-size: 14px;
      color: #e1c1b9;
      padding: 0 28px;
    }

  }
}
